[
  {
    "Description": "CORS misconfiguration allows attacker to send a cross domain request and read the response.", 
    "impact": "High", 
    "name": "Broken Authentication and session management", 
    "remediation": "Validate origin header and allow only http request from trusted domain", 
    "req_body": "NA", 
    "req_headers": {
      "Content-Type": "application/json", 
      "origin": "http://attackersite.com"
    }, 
    "res_body": "aaaa", 
    "res_headers": {
      "Access-Control-Allow-Credentials": "true", 
      "Access-Control-Allow-Origin": "*", 
      "Connection": "Keep-Alive", 
      "Content-Length": "4", 
      "Content-Type": "text/html; charset=UTF-8", 
      "Date": "Thu, 15 Feb 2018 11:36:40 GMT", 
      "Keep-Alive": "timeout=5, max=100", 
      "Server": "Apache/2.4.25 (Unix) LibreSSL/2.2.7 PHP/5.6.30", 
      "Set-Cookie": "user=John+Doe; expires=Sat, 17-Mar-2018 11:36:40 GMT; Max-Age=2592000; path=/", 
      "X-Powered-By": "PHP/5.6.30"
    }, 
    "url": "http://172.20.40.115/cors.php"
  }, 
  {
    "Description": "CORS misconfiguration allows attacker to send a cross domain request and read the response.", 
    "impact": "High", 
    "name": "Broken Authentication and session management", 
    "remediation": "Validate origin header and allow only http request from trusted domain", 
    "req_body": "NA", 
    "req_headers": {
      "Content-Type": "application/json", 
      "origin": "http://attackersite.com"
    }, 
    "res_body": "aaaa", 
    "res_headers": {
      "Access-Control-Allow-Credentials": "true", 
      "Access-Control-Allow-Origin": "*", 
      "Connection": "Keep-Alive", 
      "Content-Length": "4", 
      "Content-Type": "text/html; charset=UTF-8", 
      "Date": "Thu, 15 Feb 2018 13:30:35 GMT", 
      "Keep-Alive": "timeout=5, max=100", 
      "Server": "Apache/2.4.25 (Unix) LibreSSL/2.2.7 PHP/5.6.30", 
      "Set-Cookie": "user=John+Doe; expires=Sat, 17-Mar-2018 13:30:35 GMT; Max-Age=2592000; path=/", 
      "X-Powered-By": "PHP/5.6.30"
    }, 
    "url": "http://172.20.40.115/cors.php"
  }
]