<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Astra</title>
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:700, 600,500,400,300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='scan.js') }}"></script>
            
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>

	</head>

	<body><script>
        

				function loadDoc() 
				{
                    var appname = document.getElementById("appname").value;
					var url = document.getElementById("url").value;
					var method = document.getElementById("method").value;
					var req_headers = document.getElementById("req_headers").value;
					var req_body = document.getElementById("req_body").value;
				  	
				  	body_data = {"appname" : appname, "url":url, "headers" : req_headers, "body" : req_body, "method" : method};

				  	json_body = JSON.stringify(body_data);

				  	var xhttp = new XMLHttpRequest();
				  	xhttp.onreadystatechange = function() {
				    if (this.readyState == 4 && this.status == 200)
				     {
				    		alert(xhttp.responseText);
                            recent_scans();
				    		
		    	 	}
		  	   };
				  xhttp.open("POST", "/scan/", true);
				   xhttp.setRequestHeader("Content-type", "application/json");
		  			xhttp.send(json_body);
}
</script>
		<div class="side-nav" id="side">
			<div class="logo"
				<span>Astra</span>
			</div>
			<nav>   	
				<ul>
					<li>
						<a href="scan.html">
							<span><i class="fa fa-flash"></i></span>
							<span >Scan</span>
						</a>
					</li>
					<li>
						<a href="reports.html">
							<span><i class="fa fa-envelope"></i></span>
							<span>Reports</span>
						</a>
					</li>
					<li>
						<a href="reports.html">
							<span><i class="fa fa-bar-chart"></i></span>
							<span>Analytics</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
		<div id="side-update">

			<div class="main-content"> 
					<div class="title">Scan</div> 
					<div class="main"> 
						<div class="widget"> 
							<div class="chart"></div> 

    					<form method="POST" action="#" class="col-md-5">
                        <div class="form-group">
                                <label for="appname">Product Name</label>
                                <input type="text" class="form-control" name="appname" id="appname">
                            </div>

	     	 				<div class="form-group">
	      		   				<label for="url">URL</label>
	       		  				<input type="text" class="form-control" name="url" id="url">
	     	   				</div>

	     	  				<div class="form-group">
        						<label for="method">Method</label>
        						<select class="form-control" name="method" id="method">
        							<option value="GET">GET</option>
							        <option value="POST">POST</option>
							     </select>
          					</div>

          					<div class="form-group">
          					    <label for="req_headers">Headers</label>
						        <textarea class="form-control" rows="5" name="req_headers" id="req_headers" placeholder='{"Content-type" : "application/json", "access_token" : "X123B12DF"}'></textarea>

						        <!-- <pre class="col-md-5">Example:<br> {"Content-type" : "application/json", "access_token" : "X123B12DF"}</pre> -->

          					</div>

          					 <div class="form-group">
						        <label for="req_body">Body</label>
						        <textarea class="form-control" rows="5" name="req_body" id="req_body" placeholder='{"first_name":"flipkart","last_name":"appsec"}'></textarea>
						     </div>
						     
						     <button type="button" name="btn_report" class="btn btn-primary" onclick=loadDoc();>Submit</button><br><br>
          					
                            <label>Recent Scans:</label><br><br>
          					
                            <div class="container">
                                <table id="table">
                                <thead>
                                    <tr>
                                        <th data-field="id">No</th>
                                        <th data-field="name">Product Name</th>
                                        <th data-field="scanid">url</th>
                                        <th data-field="scan_status">Status</th>

                                    </tr>
                                </thead>
                            </table>
                            </div>



                                <script>
                                document.onload = recent_scans();
                                setInterval(function(){
                                        recent_scans() 
                                    }, 5000);

          						</script>
          							
          						</div>
          						
          					</div>

          				</form>

          				
          				</div> 

	     			</div> 
				</div>';
			
		</div>

		

					</div> 
				</div> 
			</div> 
		</div> 


     
	</body>
</html>